html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Stratos LC Web', serif;
  font-weight: 900;
  font-style: normal;
}

.nav-link {
  color: #675fff!important;
}

.navbar {
  background-color: black;
}

.btn#signup-btn {
  background-color: #ffd694;
  color: black;
}

.btn#login-btn {
  background-color: #474747;
  color: white;
}

.btn#logout-btn {
  background-color: #474747;
  color: white;
}

#top_text {
  font-size: 2.4vw;
}

.img-logo{
  height: 50px
}

.navbar-toggler-icon{
  color:#fff;
  font-size:28px;
}

.price {
  color: #a37efe;
}

#teachers_block {
  background-color: #a37efe;
  color: white;
}

