@font-face {
	font-family: 'Stratos LC Web';
	src: url(../../assets/fonts/StratosLCWeb-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Light.woff2) format('woff2'),
	url(../../assets/fonts/StratosLCWeb-Light.woff) format('woff'),
	url(../../assets/fonts/StratosLCWeb-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Stratos LC Web';
	src: url(../../assets/fonts/StratosLCWeb-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Bold.woff2) format('woff2'),
	url(../../assets/fonts/StratosLCWeb-Bold.woff) format('woff'),
	url(../../assets/fonts/StratosLCWeb-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Stratos LC Web';
	src: url(../../assets/fonts/StratosLCWeb-Medium.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Medium.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Medium.woff2) format('woff2'),
	url(../../assets/fonts/StratosLCWeb-Medium.woff) format('woff'),
	url(../../assets/fonts/StratosLCWeb-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Stratos LC Web';
	src: url(../../assets/fonts/StratosLCWeb-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/StratosLCWeb-Regular.woff2) format('woff2'),
	url(../../assets/fonts/StratosLCWeb-Regular.woff) format('woff'),
	url(../../assets/fonts/StratosLCWeb-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}