{% load static %}

<footer class="page-footer" id="contacts_block">
    <div class="container">
        <div class="links">
            <a id="phone_number" href="tel:+79990205074" class="btn my-button">
                <i id="phone_icon" class="fas fa-phone"></i>&nbsp;+7 (999) 020-50-74</a>
        </div>
        <div class="social-icons">
            <a href="https://vk.com/rjnuta" target="_blank"><i class="fab fa-vk"></i></a>
            <a href="https://web.telegram.org/" target="_blank"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>
