{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    {% block extra_extra_head %}{% endblock extra_extra_head %}

    <style>
        .content {
            min-height: 650px;
            padding-right: 0;
            padding-left: 0;

        }
    </style>

{% endblock extra_head %}


{% block title %}
    Профиль
{% endblock title %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row pb-2">
            <div id="content" class="col d-flex flex-row align-items-start content">
                <div class="h-100 w-100">
                    {% block right-content %}

                        <div class="pl-4">
                            <h5>Здравствуйте, {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}
                            {% else %}{{ user }}{% endif %}</h5>

                            {% if not course %}
                                <p>Вы не выбрали курс</p>
                            {% else %}
                                {% for cours in course %}
                                    <p>Благодарим за выбор нашей школы! <br> Вы выбрали курс
                                        на {{ cours.course_length }} дней <br> Для оплаты перейдите
                                        <a href="{% url "finance" %}">Финансы</a></p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endblock right-content %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



<!-- Боковое ездящее меню
<nav id="menu" class="menu p-0">
    <a class="nav-link" href="{% url 'profile' %}">
        <i class="fas fa-id-card"></i>
        <span class="d-none d-md-inline menu-item-text">Личный кабинет</span></a>
    <a class="nav-link" href="{% url 'calendar' %}">
        <i class="fa fa-book fa-fw"></i>
        <span class="d-none d-md-inline menu-item-text">Расписание</span></a>
    <a class="nav-link" href="{% url 'lesson' %}">
        <i class="fas fa-graduation-cap"></i>
        <span class="d-none d-md-inline menu-item-text">Урок</span></a>
    <a class="nav-link" href="{% url 'finance' %}">
        <i class="fas fa-wallet"></i>
        <span class="d-none d-md-inline menu-item-text">Финансы</span></a>
</nav>
<style>
.menu {
    border-right: solid 1px #0ea0ff54;
    margin-right: 10px;
    width: 30px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
    position: fixed;
    z-index: 100;
    background-color: black;
}

.nav-link {
    color: #c7c5ef;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-item-text {
    padding-left: 10px;
}
.content {
    padding-left: 30px;
}
</style>
<script>
    $(function () {
        $("#menu").on("mouseover", function () {
            $("#menu").css({width: 'auto'});
            {#$("#content").css({marginLeft: '-100px'});#}
        }).on("mouseout", function () {
            $("#menu").css({width: '30px'});
            {#$("#content").css({marginLeft: 'auto'});#}
        });
    });
</script>
 -->