html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Stratos LC Web', serif;
  font-weight: normal;
  font-style: normal;
}

.nav-link,.card-text {
  font-weight: 500;
}

.navbar-toggler {
  color: rgb(93,167,217)!important;
}

.whiteboard {
  background-color: white;
}

.modal-content {
  background-color: #675fff;
  border: black;
  font-weight: normal;
}

.img-logo {
  height: 50px;
}

.nav-link {
  color: #675fff;
}

#top_text {
  font-size: 1.8rem;
}

#price {
  color: #a37efe;
}

#phone_icon {
  color: #a37ffe;
}

.my-button {
  background: transparent;
  color: rgb(93,167,217)!important;
  border-color: #0ea0ff!important;
}

.my-button:hover {
  background: darkslategray;
}

#login-btn {
  color: white;
  background-color: #474747;
}

#signup-btn.btn.to-form, .submit-btn, .sub {
  color: black;
  background-color: #ffd694;
}

.submit-btn .sub{
  font-weight: 500;
  min-width: 165px;
}

#message_container {

}

.modal-footer{
justify-content: space-between;
}

.close, .close:hover{
  color: white;
}
#message1{
  background-color: #474747;
}

#message_container{
  margin-left: 15px;
}

#teachers_block,.skills{
  height: 100vh;
}

#navbar{
  padding-top: 0;
  padding-bottom: 0;
}




<!-- -->
aside.sidebar-left#resizable {
  height: 100vh;
  min-width: 200px;
}

@media (min-width: 768px) {
  .wrapper .sidebar-left {
    top: 0;
  }
}

@media (min-width: 1200px) {
  aside.sidebar-left {
    width: 200px;
  }
}

aside.sidebar-left {
  width: 175px;
  top: 0;
  float: left;
  box-shadow: -5px 0 0 #f7f7f7 inset;
  z-index: 1000;
}

aside.sidebar-left .draghandle {
  position: absolute;
  z-index: 100;
  width: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: col-resize;
  float: right;
}

aside.sidebar-left .sidebar-logo img {
  max-width: 200px;
  padding-right: 5px;
  vertical-align: middle;
  border-style: none;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  overflow: hidden;
  padding-top: 0;
}

.wrapper #mainArea.content {
  margin-left: 25%;
}

@media (min-width: 992px) {
  .wrapper #mainArea.content {
    margin-left: 250px;
  }
}

.mt-wrapper {
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
}

.nav {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;

}

.nav a {
  font-weight: 500;
  color: #939089;
}

.nav h5 {
  margin-right: 4px;
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f1f1f1;
}

body {
  background: #14161D;
  color: #939089;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  aside.sidebar-left {
    display: none;
  }
}

