{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'css/Copperplate Gothic Light.css' %}">
    <link rel="stylesheet" href="{% static 'css/Stratos LC Web.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Dynamically-Queue-Videos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/Team-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static '/img/favicon.png' %}"> <!-- Добавить -->
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

{% include 'navbar.html' %}

<!-- Messages -->
<div>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %}
                class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0"
                role="alert" id="message_container" {% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
<!-- End Messages -->

{% block content %}
{% endblock content %}

{% include 'footer.html' %}


{% block scripts %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/Dynamically-Queue-Videos.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock scripts %}


{% block extrascripts %}
    <script type="text/javascript">
        $(function () {
            // прячет сообщения автоматически
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });

            // вызов modal-окон
            $("#login-btn").modalForm({
                formURL: "{% url 'login' %}"
            });

            // редиректы
            $("#logout-btn").click(function () {
                window.location.href = "{% url 'logout' %}"
            });

            // автофокус на поле ввода логина
            $('.modal').on('shown.bs.modal', function () {
                $('#id_username').trigger('focus')
            })

            $('.modal-content').keypress(function (e) {
                // enter отправляет формы
                if (e.which === 13) {
                    $('.submit-btn').click()
                }
                // esc закрывает modal-окна
                if (e.key === "Escape") {
                    $('.modal').modal('hide');
                }
            })

        });
    </script>
{% endblock extrascripts %}

</body>
</html>
