{% load static %}

<footer class="page-footer" id="contacts_block">
    <div class="container">
        <div class="links"><a href="#" class="btn btn-outline-primary white" style="color: rgb(93,167,217);"><i
                class="fas fa-phone" style="color: #a37ffe"></i>&nbsp;+7 (999) 020-50-74</a></div>
        <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                class="icon ion-social-instagram-outline"></i></a><a href="#"><i
                class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>
