<nav class="navbar navbar-expand-md navbar-clean py-0">
    <div class="container">

        <!-- Кнопка меню для мобил -->
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Панель навигации</span>
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span></button>

        <!-- Логотип -->
        <a class="navbar-brand py-0" href="#">
            <img class="img-logo" src="/static/assets/img/logos/logo_no_bg.png" alt="Anya'School">
        </a>
        <!-- Сворачивающиеся пункты меню -->
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li role="presentation" class="nav-item"><a class="nav-link active"
                                                            href="#contacts_block">Контакты</a>
                </li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#teachers_block">О нас</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#prices_block">Цены</a></li>
            </ul>

            <ul class="nav navbar-nav mx-0">

                {% block messages %}
                    {% if messages %}
                                {% for message in messages %}
                                    <p>({ message }}</p>
                                {% endfor %}
                    {% endif %}
                {% endblock messages %}

                {% if user.is_authenticated %}
                    <li role="presentation" class="nav-item mr-2 my-2">
                        <p>Вы вошли как <strong>{{ user }}</strong></p>
                    </li>
                    <li role="presentation" class="nav-item mr-2 my-2">
                        <a href="{% url 'account_logout' %}" id="logout-btn" class="btn">Выйти
                        </a>
                    </li>
                {% else %}
                    <li role="presentation" class="nav-item mr-2 my-2">
                        <a href="{% url 'account_signup' %}" id="signup-btn" class="btn">Начать бесплатно
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="{% url 'account_login' %}" id="login-btn" class="btn my-2">Войти</a>
                    </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>