{% extends 'base.html' %}
{% load static %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}

    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <h3 style="color: #a37efe;">Mercury School - инновационная школа математики</h3>
        </section>

        <div>
            <p>{{ user.first_name }}</p>
            <p>{{ user.username }}</p>
            <p>{{ user.last_name }}</p>
            <p>{{ user.email }}</p>
        </div>

    </main>

{% endblock content %}
